<table width="100%" cellpadding="10" cellspacing="0" style="background-color:#c0c0c0; color:#333;">
  <tr>
    <td align="center" style="font-size:12px;">
      Powered by <strong>Zigmail SMTP</strong> | 
      <a href="https://github.com/CatC0de1/EmailApi" style="color:#0070f3; text-decoration:none;">
        GitHub
      </a> · 
      <a href="https://www.instagram.com/iyan_zul1?igsh=YzljYTk1ODg3Zg==" style="color:#0070f3; text-decoration:none;">
        Instagram
      </a>
    </td>
  </tr>
</table>