<table width="100%" cellpadding="0" cellspacing="0" style="background-color:#0070f3; color:#ffffff; padding:20px;">
  <tr>
    <td align="center" style="font-size:24px; font-weight:bold;">
      Ziymailer
    </td>
  </tr>
  <tr>
    <td align="center" style="font-size:14px; color:#e0e0e0;">
      Simple & Reliable Email Service
    </td>
  </tr>
</table>
